* {
  box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
}

a {
  transition: .2s;
  color: #424242;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: url("../img/texture.png") fixed,
    linear-gradient(to bottom left, #2196f3, #4caf50) fixed;
  background-size: cover;
  color: #424242;
  line-height: 1.618em;
  font-size: 16px;
}

.base {
  width: 100%;
  max-width: 90%;
  margin: 30px auto;
}

.tab {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .85em;
}

.tab li {
  display: inline-block;
  background: #ddd;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

.tab li:first-child {
  background: #fff;
}

.tab li a {
  display: inline-block;
  padding: 5px 20px 5px 15px;
}

.tab li a .fa-fw {
  margin-right: 5px;
  padding: 0;
}

.card {
  padding: 15px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, .2);
}

.card a {
  color: #2196f3;
}

.card a:hover,
.card a:focus {
  transition: .2s;
  color: #4caf50;
  opacity: 1;
}

.photo {
  float: none;
  width: 30%;
  min-width: 120px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.photo img {
  width: 100%;
  max-width: 200px;
  border: solid 2px #eee;
  border-radius: 50%;
  transition: .25s;
}

.intro {
  float: left;
  padding: 0 15px;
  text-align: center;
}

.intro h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2em;
}

.nick {
  margin: 5px 0 15px;
  color: #aaa;
}

.description {
  margin-bottom: 15px;
}

.mobile-tab {
  clear: both;
  padding: 15px 0;
}

.mobile-tab span {
  position: relative;
  display: block;
  background: url("../img/texture.png") fixed,
    linear-gradient(to bottom left, #419544, #1c80cf) fixed;
  background-size: cover;
  text-align: center;
  font-size: 1.25em;
  line-height: 3em;
  color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
}

.mobile-tab a:not(:first-child) span {
  margin-top: 10px;
}

.hyperlink {
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.618em;
}

.hyperlink a {
  opacity: .5;
}

.credits {
  clear: both;
  margin-bottom: 5px;
  text-align: center;
  color: #aaa;
}

.credits a {
  color: #aaa;
  opacity: 1;
}

.credits a:hover,
.credits a:focus {
  color: #888;
}

@media (min-width:600px) {
  .base {
    max-width: 550px;
    margin: 50px auto;
  }

  .intro {
    padding: 0 50px;
  }

  .hyperlink {
    font-size: 1.75em;
  }
}

@media (min-width: 900px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .base {
    position: absolute;
    top: calc(50% - 15px);
    left: 50%;
    max-width: 800px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .tab {
    display: initial;
  }

  .card {
    position: relative;
    border-top-left-radius: 0;
  }

  .photo {
    float: left;
    width: 20%;
    padding: 15px;
    margin: 0;
  }

  .photo img:hover {
    transform: rotate(5deg);
  }

  .intro {
    width: 65%;
    padding: 0 15px;
    text-align: left;
  }

  .intro h1 {
    margin: 15px 0 0;
  }

  .description {
    margin-bottom: 30px;
  }

  .mobile-tab {
    display: none;
  }

  .hyperlink {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    padding: 15px;
    font-size: 1.25em;
  }

  .credits {
    font-size: .85em;
  }
}